<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.recipients"></h3>
        <div class=resBtnSearch><a href="blank.html#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.recipients"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row">
        <!-- ... -->
        <div class="col-md-7 col-sm-7">
         <h2 class="text-center text-muted" ng-if="activeRecip" translate="labels.select_recipient" ></h2>
         <div class="col-md-6" ng-hide="activeRecip"> <h3>{{ data.currentOrgUnit }}</h3> </div>
         <div class="col-md-6" ng-hide="activeRecip">
             <button style="margin: 5px" class="pull-right btn btn-info" ng-click="showAdd()"><i class="s16 icomoon-icon-plus-circle-2"></i><span translate="labels.add"></span><md-tooltip><span translate="help.add_another_recipient" translate-values="{ name: data.currentOrgUnit }"></span> </md-tooltip></button>
         </div>
         <div ng-hide="activeRecip" class="col-sm-12">
            <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="15%" translate="labels.code"></th>
                    <th width="15%" translate="labels.name"></th>
                    <th width="15%" translate="labels.status">Status</th>
                    <th width="10%" translate="labels.action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.currentRecipients" ng-hide="deletedItem[item.id]">
                    <td>{{ $index+1 }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td ng-if="item.status == 'active'" translate="labels.active"></td>
                    <td ng-if="item.status == 'inactive'" translate="labels.inactive"></td>
                    <td>
                        <md-button aria-label="btu" class="md-hue-3 md-raised  md-fab"  ng-click="showAEdit(item)"><i class="fa fa-pencil-square"></i>
                            <md-tooltip>
                                <span translate="help.update"></span>
                            </md-tooltip>
                        </md-button>
                        <md-button  aria-label="btu" ng-if="!deletingItem[item.id]" class="md-hue-3 md-raised md-warn md-fab"  ng-click="showConfirm($event,item)"><i class="fa fa-trash-o"></i>

                            <md-tooltip>
                                <span translate="help.delete"></span>
                            </md-tooltip>
                        </md-button>
                        <span ng-if="deletingItem[item.id]"><i class="fa fa-spin fa-spinner"></i> <span translate="labels.deleting"></span></span>
                    </td>
                </tr>
                </tbody>
            </table>
         </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <h4 translate="labels.recipient_tree"></h4>
            <abn-tree
                    tree-data         = "data.orgUnit"
                    tree-control      = "my_tree"
                    icon-leaf         = "fa fa-file"
                    icon-expand       = "fa fa-plus"
                    icon-collapse     = "fa fa-minus"
                    on-select         = "my_tree_handler(branch)"
                    expand-level      = "2"
                    initial-selection = "Tanzania"
                    style="font-size: 13px">
                ></abn-tree>
        </div>


    </div>
    <!-- End .row -->
</div>
