<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.home"></h3>
        <div class=resBtnSearch><a href="blank.html#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.home"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row">

        <div class="col-md-12 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title" translate="help.storage_use"></h4>

            </div>
            <div class="panel-body">
                <highchart id="chart1" config="chartConfig"></highchart>
                <table class="table table-responsive">
                    <tr>
                        <th translate="labels.name"></th>
                        <th>Total Volume</th>
                        <th>Used Volume</th>
                        <th>Free Volume</th>
                    </tr>
                    <tr ng-repeat="stores in storeTable">
                        <td>{{ stores.name }}</td>
                        <td>{{ stores.volume | number:2 }}</td>
                        <td>{{ stores.used_volume | number:2 }}</td>
                        <td>{{ stores.free  | number:2}}</td>
                    </tr>
                </table>
           </div>

       </div>


        <div class="col-md-6 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title" >Store Usage Summary</h4>
                <div class="panel-controls panel-controls-right">
                    <select ng-change="setStoreType(oneItem.store_id)" required="" id="store" ng-model="oneItem.store_id"  ng-options="obj.id as obj.name for obj in stores | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>
                </div>

            </div>
            <div class="panel-body">
                <highchart ng-if="oneItem.store_id" id="chart1" config="chartConfig2"></highchart>
           </div>

       </div>
        <div class="col-md-6 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title" translate="help.arrival_items"></h4>

            </div>
            <div class="panel-body">
                <highchart ng-if="oneItem.store_id" id="chart1" config="chartConfig1"></highchart>
            </div>

        </div>
        <div ng-if="oneItem.store_id" class="col-md-12 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title">{{ chartConfig1.title.text }}</h4>

            </div>
            <div class="panel-body">
                <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                    <thead>
                    <tr>
                        <th >#</th>
                        <th translate="labels.product"></th>
                        <th translate="labels.manufacture"></th>
                        <th translate="labels.lot_number"></th>
                        <th translate="labels.Dose_vial"></th>
                        <th translate="labels.expired_date"></th>
                        <th translate="labels.doses"></th>
                        <th translate="labels.vials"></th>
                        <th translate="labels.total_volume"></th>
                        <th translate="labels.u_price"></th>
                        <th translate="labels.t_price"></th>
                        <th translate="labels.activity"></th>
                        <th translate="labels.source"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in detailedItems">
                        <td>{{ $index+1 }}</td>
                        <td>{{ getVaccineName(item.vaccine_id) }}</td>
                        <td>{{ getManufactureName(item.packaging.manufacture_id) }}</td>
                        <td>{{ item.lot_number }}</td>
                        <td>{{ item.packaging.dose_per_vial }}</td>
                        <td>{{ item.expiry_date | date:'yyyy-MM-dd' }}</td>
                        <td>{{ item.amount  | number:0 }}</td>
                        <td>{{ item.amount / item.packaging.dose_per_vial | number:0 }}</td>
                        <td>{{ item.amount * item.packaging.cm_per_dose * 0.001  | number:4 }}</td>
                        <td>{{ item.unit_price | number:2 }}</td>
                        <td>{{ item.amount * item.unit_price | number:2 }}</td>
                        <td>{{ getActivityName(item.activity_id) }}</td>
                        <td>{{ getSourceName(item.source_id) }}</td>
                    </tr>
                    </tbody>
                </table>
           </div>

       </div>


    <div class="col-md-12 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
        <!-- Start .panel -->
        <div class="panel-heading white-bg">
            <h4 class="panel-title">How Long Item Will Last</h4>

        </div>
        <div class="panel-body">
            <label class="required" for="total_population" translate="labels.product"></label>
            <select required="" ng-change="updateRemain(oneItem.item_id)" class="form-control" ng-model="oneItem.item_id"  ng-options="obj.id as obj.name for obj in vaccines | filter:{status:'active'}:true">
                <option value="" translate="labels.select"></option>
            </select>

            <label class="required" for="total_population" translate="labels.current_stock"></label> {{ curLevel }} <br>
            <label class="required" for="total_population" translate="labels.routine_consuption"></label>{{ total_cons }} <br>

            <label class="required" for="total_population" translate="labels.monthly_avarage"></label> {{ avg | number:2 }}<br>

            <label class="required" for="total_population" translate="labels.enough_for"></label> {{ curLevel / avg | number:2 }} Month
        </div>

    </div>

    </div>
    <!-- End .row -->
</div>
