
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate="labels.add_user_roles"></h4>
</div>
<div class="modal-body">
    <form class="col-md-12" novalidate name="myForm">
        <div class="form-group">
            <label class="required" for="exampleInputPassword1" translate="labels.name"></label>
            <input required="" type="text" ng-model="newItem.name" class="form-control" id="exampleInputPassword1" placeholder="{{ 'labels.name' | translate }}">
        </div>
    <div style="height: 400px">
        <div
                isteven-multi-select
                input-model="modernBrowsers"
                output-model="outputBrowsers"
                button-label="icon name"
                item-label="icon name maker"
                tick-property="ticked"
                max-labels = '0'
                max-height ="250px"
                group-property="msGroup"
                orientation="horizontal"
                >
        </div>
    </div>

        <button type="submit" ng-hide="outputBrowsers.length == 0" ng-disabled="myForm.$invalid" class="btn btn-default" translate="labels.submit" ng-click="save(newItem)"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" translate="labels.cancel"></button>
        <br>
        <span  ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> <span translate="labels.saving">Saving....</span> </span>
    </form>

</div>
<div class="modal-footer">
</div>