<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.arrival_adjustment"></h3>
        <div class=resBtnSearch><a href="#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.arrival_adjustment"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->

    <!-- End .row -->
    <div class="col-md-10 col-md-offset-2" ng-if="newItem.item && newItem.arrival">
        <h4  ng-if="currentSaving"><i class='fa fa-cog fa-3x fa-spin '></i> <span translate="labels.saving">Saving....</span> </h4>
        <button  ng-if="!currentSaving" ng-click="cancelarrival(newItem)" class="btn btn-sm btn-danger"  translate="labels.save_package"> </button>
        <button  ng-if="!currentSaving" ng-click="cancel()"  class="btn btn-sm btn-warning" translate="labels.cancel"> </button>
    </div>
</div>


