<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.dispatch_adjustment"></h3>
        <div class=resBtnSearch><a href="#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.dispatch_adjustment"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div ng-if="!showSummary" class="row">

        <form class="col-md-12" novalidate name="" >
            <!--item_id-->
            <div class="form-group" >
                <div class="col-md-6 col-md-offset-3"  >
                    <label class="required" for="select_arrival" translate="labels.select_dispatch"></label>
                    <select required="" ng-change="getDispatchItem(newItem.dispatch)"  id="select_arrival" class="form-control" ng-model="newItem.dispatch"  ng-options="obj.id as obj.name for obj in expect_packages">
                        <option value="" translate="labels.select"></option>
                    </select>
                </div>
            </div>
        </form>

        <div class="row"  ng-if="canCancel">

            <form class="col-md-12" novalidate name="myForm" >
                <!--item_id-->
                <div class="form-group" >
                    <div class="col-md-4"  >
                        <label class="required" for="arrival_date" translate="labels.dispatch_date"></label>
                        <p class="input-group">
                            <input disabled type="text" id="arrival_date" class="form-control" datepicker-popup="{{format}}" ng-model="newItem.dispatch_date" is-open="status.opened" min-date="minDate" datepicker-options="dateOptions" required="" close-text="Close"  placeholder="{{ 'labels.arrival_date' | translate }}" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                    <div class="col-md-4"  >
                        <label for="source" translate="labels.recipients"></label>
                        <select disabled id="source" ng-change="changeRecipient(newItem.recipients)" class="form-control" ng-model="newItem.recipients"  ng-options="obj.id as obj.name for obj in userRecipients | filter:{status:'active'}:true">
                            <option value="" translate="labels.select"></option>
                        </select>
                    </div>
                    <div class="col-md-4"  >
                        <label for="transport_mode" translate="labels.transport_mode"></label>
                        <select disabled id="transport_mode" class="form-control" ng-model="newItem.transport_mode"  ng-options="obj.id as obj.name for obj in transport_mode | filter:{status:'active'}:true">
                            <option value="" translate="labels.select"></option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-12" translate="labels.notes"></div>
                <div class="col-sm-12" ><textarea class="form-control"  ng-model="newItem.notes"></textarea></div>

                <div class="col-sm-12" ng-if="noAnnualQuota" translate="error.no_annal_quota"></div>


            </form>


        </div>

        <div class="col-md-12" style="margin-top: 10px" ng-if="newItem.recipients && canCancel">
            <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
                <!-- Start .panel -->
                <div class="panel-heading white-bg">
                    <h4 class="panel-title" translate="help.dispatch_items"></h4>

                </div>
                <div class="panel-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: auto;">
                        <div class="table-responsive" style="overflow: scroll; width: 100%; height: auto;">
                            <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                                <thead>
                                <tr>
                                    <th >#</th>
                                    <th  translate="labels.product"></th>
                                    <th translate="labels.manufacture"></th>
                                    <th translate="labels.lot_number"></th>
                                    <th translate="labels.Dose_vial"></th>
                                    <th translate="labels.expired_date"></th>
                                    <th translate="labels.doses"></th>
                                    <th translate="labels.vials"></th>
                                    <th translate="labels.total_volume"></th>
                                    <th translate="labels.u_price"></th>
                                    <th translate="labels.t_price"></th>
                                    <th translate="labels.activity"></th>
                                    <th translate="labels.store"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in newItem.items" ng-hide="deletedItem[item.id]"  ng-style="item.hasMatch? { 'background-color':'inherit'} : { 'background-color':'rgba(0,0,0,0.2)'}">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ item.item }}</td>
                                    <td>{{ getManufactureName(item.manufacture_id) }}</td>
                                    <td>{{ item.lot_number }}</td>
                                    <td>{{ item.dose_vial }}</td>
                                    <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                                    <td>{{ item.doses | number:0 }}</td>
                                    <td>{{ item.vials | number:0 }}</td>
                                    <td>{{ item.total_volume | number:2 }}</td>
                                    <td>{{ main_currency }} {{ item.u_price | number : 2 }}</td>
                                    <td>{{ main_currency }} {{ item.u_price * item.doses | number:2 }}</td>
                                    <td>{{ getActivityName(item.activity_id) }}</td>
                                    <td>{{ getStoreName(item.store_id) }}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="slimScrollBar ui-draggable" style="height: 5px; position: absolute; bottom: 3px; opacity: 0.4; display: none; border-radius: 5px; z-index: 99; width: 1014px; left: 0px; background: rgb(243, 243, 243);"></div>
                        <div class="slimScrollRail" style="width: 100%; height: 5px; position: absolute; bottom: 3px; display: none; border-radius: 5px; opacity: 0.3; z-index: 90; background: rgb(51, 51, 51);"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End .row -->
        <h4 ng-if="!checkMate()" translate="error.no_diluent"></h4>

        <div class="col-md-12"  ng-if="!showSummary">
            <h3  ng-if="currentSaving"><i class='fa fa-cog fa-3x fa-spin '></i> <span translate="labels.saving">Saving....</span> </h3>
            <!--<button  ng-disabled="myForm.$invalid" ng-click="adjustdispatch(newItem)" class="btn btn-primary" ng-if="newItem.items.length != 0 && checkMate()" translate="labels.adjustdispatch"></button>-->
            <button  ng-click="sendCancelDispatch($event,newItem)" class="btn btn-danger" ng-if="canCancel" translate="labels.cancel_dispatch"></button>
        </div >
    </div>
    <!--printed voucher-->
    <div class="row" ng-if="showSummary">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-2">
                <img src="img/logo1.jpg" style="height: 100px;width: 100px">
            </div>
            <div class="col-sm-8">
                <h3 class="text-center" translate="app.title"></h3>
                <h4 class="text-center" translate="app.voucher_title"></h4>
                <hr>
            </div>
            <div class="col-sm-2">
                <img src="img/logo.jpg" style="height: 100px;width: 100px">
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <span kendo-barcode k-type="'code128'" ng-model="newItem.voucher_no" style="width: 250px; margin: 0 auto;"></span>
        </div>
        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;margin-bottom: 20px">
            <div class="col-sm-4"><h4 translate="labels.entered_by" translate-value-name="{{ logedInUserName }}"> </h4></div>
            <div class="col-sm-4"><h4 translate="labels.issued_to" translate-value-name="{{ getRecipientName(newItem.recipients) }}"></h4></div>
            <div class="col-sm-4"><h4 translate="labels.transport_mode1" translate-value-name="{{ getTransportName(newItem.transport_mode) }}"></h4></div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-striped table-bordered" >
                <thead>
                <tr style="background-color: greenyellow">
                    <th >Sr</th>
                    <th translate="labels.product"></th>
                    <th translate="labels.manufacture"></th>
                    <th translate="labels.lot_number"></th>
                    <th translate="labels.expired_date"></th>
                    <th translate="labels.doses"></th>
                    <th translate="labels.vials"></th>
                    <th translate="labels.t_price"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in newItem.items" ng-hide="deletedItem[item.id]">
                    <td>{{ $index+1 }}</td>
                    <td>{{ item.item }}</td>
                    <td>{{ getManufactureName(item.manufacture_id) }}</td>
                    <td>{{ item.lot_number }}</td>
                    <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ item.doses }}</td>
                    <td>{{ item.vials }}</td>
                    <td>{{ main_currency }} {{ item.u_price * item.doses }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <h4 translate="labels.total_price" translate-value-price="{{ getTotalPrice() }}" translate-value-currency="{{ main_currency }}"></h4>
            <div class="col-sm-4">
                <h5 translate="labels.issued"></h5>
                <h5 translate="labels.name_signature"></h5>
                <h5 translate="labels.sign"></h5>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h5 translate="labels.receiver"></h5>
                <h5 translate="labels.name_signature"></h5>
                <h5 translate="labels.sign"></h5>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 15px">
            <button class="btn btn-warning" translate="labels.cancel" ng-click="cancelDispatch()"></button>
            <button class="btn btn-info" ng-click="downloadData()"><i class="fa fa-print"></i> </button>
        </div>
    </div>
</div>


