<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.move_items"></h3>
        <div class=resBtnSearch><a href="#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.move_items"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row">

        <form class="col-md-12" novalidate name="myForm" >
            <!--item_id-->
            <div class="form-group" >

                <div class="col-md-6 thumbnail" style="height: 450px;overflow: scroll" >
                    <label class="required" for="source" translate="labels.from_store"></label>
                    <select  id="source" ng-change="getStoreItems(newItem.from_store)" class="form-control" ng-model="newItem.from_store"  ng-options="obj.id as obj.useName for obj in stores | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>

                    <label ng-if="newItem.from_store" for="source" translate="labels.select_option"></label>
                    <select ng-if="newItem.from_store" required="" type="text" ng-model="newItem.status" class="form-control" id="exampleInputPassword2" >
                        <option value="one" translate="labels.move_one_item"></option>
                        <option value="all" translate="labels.move_all_items"></option>
                    </select>

                    <label class="required" ng-if="newItem.status == 'one'" for="source" translate="labels.move_one_item"></label>
                    <select required="" ng-change="storeMovedItem(newItem.item_id)" ng-if="newItem.status == 'one'"  id="source" class="form-control" ng-model="newItem.item_id"  ng-options="obj.id as obj.name for obj in selectedStoreItems">
                        <option value="" translate="labels.select"></option>
                    </select>

                    <label class="required" ng-if="newItem.status == 'one' && newItem.item_id" for="freight_cost" translate="labels.doses"></label>
                    <input ng-change="changeVolume(newItem.doses)" required="" ng-if="newItem.status == 'one' && newItem.item_id" type="number" min="0" ng-model="newItem.doses" class="form-control input-sm" id="freight_cost" placeholder="{{ 'labels.doses' | translate }}">
                    <span class="help-text" ng-if="newItem.doses > maximum">Amount exceeds what you have in store</span>
                    <h4 ng-if="newItem.from_store" class="text-center">{{ selectedStore.name }} <span translate="labels.items"></span></h4>
                    <table ng-if="newItem.from_store" datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                        <thead>
                        <tr>
                            <th >#</th>
                            <th translate="labels.product"></th>
                            <th translate="labels.doses"></th>
                            <th translate="labels.lot_number"></th>
                            <th translate="labels.expired_date"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in selectedStoreItems">
                            <td>{{ $index+1 }}</td>
                            <td>{{ item.packaging.vaccine.name }}</td>
                            <td>{{ item.amount | number:0  }}</td>
                            <td>{{ item.lot_number }}</td>
                            <td>{{ item.expiry_date }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-5 thumbnail  col-md-offset-1" style="height: 450px;overflow: scroll" >
                    <label class="required" for="source" translate="labels.to_store"></label>
                    <select required="" id="source" ng-change="getStoreItems1(newItem.to_store)" class="form-control" ng-model="newItem.to_store"  ng-options="obj.id as obj.name for obj in storeB | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>
                    <b translate="labels.total_volume"></b> <span>{{ selectedStore1.net_volume | number:4 }}</span> <br>
                    <b translate="labels.used_volume"></b> <span>{{ selectedStore1.used_volume | number:4 }}</span> <br>
                    <b translate="labels.free_volume"></b> <span>{{ selectedStore1.net_volume - selectedStore1.used_volume | number:4 }}</span><br>
                    <b translate="labels.moved_volume"></b> <span>{{ newItem.doses * cm_per_dose * 0.001 | number:2 }}</span><br>
                    <b translate="labels.volume_overflow" ng-if="selectedStore1.net_volume - selectedStore1.used_volume < newItem.doses * cm_per_dose * 0.001"></b>
                    <h4 ng-if="newItem.to_store" class="text-center">{{ selectedStore1.name }} <span translate="labels.items"></span></h4>
                    <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                        <thead>
                        <tr>
                            <th >#</th>
                            <th translate="labels.product"></th>
                            <th translate="labels.doses"></th>
                            <th translate="labels.lot_number"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in selectedStoreItems1">
                            <td>{{ $index+1 }}</td>
                            <td>{{ item.packaging.vaccine.name }}</td>
                            <td>{{ item.amount | number:0  }}</td>
                            <td>{{ item.lot_number }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </form>


    </div>
    <div class="col-md-12" style="margin-top: 10px" >

    </div>
    <!-- End .row -->
    <div class="col-md-12">
        <h3  ng-if="currentSaving4"><i class='fa fa-cog fa-3x fa-spin '></i> <span translate="labels.saving">Saving....</span> </h3>
        <button ng-click="moveItem(newItem)"  ng-show="newItem.doses < maximum" ng-disabled="myForm.$invalid" class="btn btn-lg btn-primary" ng-if="newItem.from_store" translate="labels.save_package"> </button>
    </div>
</div>


