<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.dispatched_packaged"></h3>
        <div class=resBtnSearch><a href="blank.html#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.dispatched_packaged"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->

    <div class="row" style="margin-bottom: 10px">
        <button ng-if="seeStock != 'products'" class="btn btn-info btn-sm pull-right" ng-click="setSeeStock('products')"><i class="fa fa-table"></i> Products</button>
        <button ng-if="seeStock != 'details'" class="btn btn-info btn-sm pull-right" ng-click="setSeeStock('details')"><i class="fa fa-list"></i> Product Details</button>
        <button ng-if="seeStock != 'graph'" class="btn btn-info btn-sm pull-right" ng-click="setSeeStock('graph')"><i class="fa fa-bar-chart-o"></i> Graph</button>
    </div>
    <div class="row" ng-if="seeStock == 'products'">
        <h3 class="text-center">Summary</h3>
        <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
            <thead>
            <tr>
                <th >#</th>
                <th translate="labels.product"></th>
                <th translate="labels.doses"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in disaptchedItems">
                <td>{{ $index+1 }}</td>
                <td>{{ getVaccineName(item.vaccine_id) }}</td>
                <td>{{ item.total }}</td>
            </tr>
            </tbody>
        </table>
</div><div class="row" ng-if="seeStock == 'details'">
        <h3 class="text-center">Detailed Items</h3>
        <table datatable="ng" class="table table-striped table-bordered table-responsive" dt-options="dtOptions" >
            <thead>
            <tr>
                <th >#</th>
                <th translate="labels.voucher_no"></th>
                <th translate="labels.recipients"></th>
                <th translate="labels.transport_mode"></th>
                <th translate="labels.product"></th>
                <th translate="labels.manufacture"></th>
                <th translate="labels.lot_number"></th>
                <th translate="labels.expired_date"></th>
                <th translate="labels.doses"></th>
                <th translate="labels.vials"></th>
                <th translate="labels.total_volume"></th>
                <th translate="labels.t_price"></th>
                <th translate="labels.activity"></th>
                <th translate="labels.dispatch_date"></th>
                <th translate="labels.status"></th>
                <th><i class="fa fa-print"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in sent_packages">
                <td>{{ $index+1 }}</td>
                <td>{{ item.package.voucher_number }}</td>
                <td>{{ item.receiver.name }}</td>
                <td>{{ getTransportName(item.package.transport_mode_id) }}</td>
                <td>{{ item.vaccine.name }}</td>
                <td>{{ getManufactureName(item.packaging.manufacture_id ) }}</td>
                <td>{{ item.batch_number }}</td>
                <td>{{ item.expiry_date | date:'yyyy-MMM-dd' }}</td>
                <td>{{ item.amount | number:0  }}</td>
                <td>{{ item.amount/item.packaging.dose_per_vial | number:0 }}</td>
                <td>{{ (item.amount*item.packaging.cm_per_dose)*0.001 | number:4  }}</td>
                <td>{{ main_currency }} {{ item.unit_price * item.amount | number:2}}</td>
                <td>{{ getActivityName(item.activity) }}</td>
                <td>{{ item.created_at | date:'yyyy-MMM-dd' }}</td>
                <td>{{ item.package.receiving_status }}</td>
                <td>
                    <md-button aria-label="btu" class="md-hue-3 md-raised  md-fab"  ng-click="downloadData(item.package.voucher_number)"><i class="fa fa-file-pdf-o"></i>
                    <md-tooltip>
                        <span translate="help.print"></span>
                    </md-tooltip>
                </md-button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!-- End .row -->
    <div ng-if="seeStock == 'graph'" class="col-md-12 panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
        <!-- Start .panel -->
        <div class="panel-heading white-bg">
            <h4 class="panel-title" translate="labels.items"></h4>

        </div>
        <div class="panel-body">
            <highchart id="chart1" config="chartConfig1"></highchart>
        </div>

    </div>
</div>


