<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.pre_advice"></h3>
        <div class=resBtnSearch><a href="blank.html#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.pre_advice"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row">
        <button style="margin: 5px" class="pull-right btn btn-info" ng-click="showAdd('addPreAdvice')"><i class="s16 icomoon-icon-plus-circle-2"></i><span translate="labels.add"></span><md-tooltip><span translate="help.add_another"></span> </md-tooltip></button>
    </div>
    <div class="row">

        <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
            <thead>
            <tr>
                <th width="5%">#</th>
                <th width="15%" translate="labels.packaging_id"></th>
                <th width="10%" translate="labels.source"></th>
                <th width="10%" translate="labels.product"></th>
                <th width="10%" translate="labels.lot_number"></th>
                <th width="10%" translate="labels.expired_date"></th>
                <th width="10%" translate="labels.status"></th>
                <th width="10%" translate="labels.action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in pre_shipments" ng-hide="deletedItem[item.id]">
                <td>{{ $index+1 }}</td>
                <td>{{ item.package_id }}</td>
                <td>{{ item.source.name }}</td>
                <td>{{ item.vaccine.name }}</td>
                <td>{{ item.lot_number }}</td>
                <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                <td ng-if="item.status == 'pending'" translate="labels.pending"></td>
                <td ng-if="item.status == 'received'" translate="labels.received"></td>
                <td>
                    <md-button aria-label="btu" class="md-hue-3 md-raised  md-fab"  ng-click="showAEdit(item,'updatePreAdvice')"><i class="fa fa-pencil-square"></i>
                        <md-tooltip>
                            <span translate="help.update"></span>
                        </md-tooltip>
                    </md-button>
                    <md-button  aria-label="btu" ng-if="!deletingItem[item.id]" class="md-hue-3 md-raised md-warn md-fab"  ng-click="showConfirm($event,item.id,'pre_shipments')"><i class="fa fa-trash-o"></i>

                        <md-tooltip>
                            <span translate="help.delete"></span>
                        </md-tooltip>
                    </md-button>
                    <span ng-if="deletingItem[item.id]"><i class="fa fa-spin fa-spinner"></i> <span translate="labels.deleting"></span></span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!-- End .row -->
</div>


