<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="menu.dispatch"></h3>
        <div class=resBtnSearch><a href="#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.dispatch"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row">

        <form class="col-md-12" novalidate name="myForm" >
            <!--item_id-->
            <div class="form-group" >
                <div class="col-md-4"  >
                    <label  for="arrival_report_no" translate="labels.voucher_no"></label>
                    <input  id="arrival_report_no" type="text" ng-model="newItem.voucher_no" class="form-control input-sm"  placeholder="{{ 'labels.voucher_no' | translate }}">
                </div>
                <div class="col-md-4"  >
                    <label for="source" translate="labels.recipients"></label>
                    <select  id="source" class="form-control" ng-model="newItem.recipients"  ng-options="obj.id as obj.name for obj in userRecipients | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>
                </div>
                <div class="col-md-4"  >
                    <label class="required" for="arrival_date" translate="labels.dispatch_date"></label>
                    <p class="input-group">
                        <input type="text" id="arrival_date" class="form-control" datepicker-popup="{{format}}" ng-model="newItem.dispatch_date" is-open="status.opened" min-date="minDate" datepicker-options="dateOptions" required="" close-text="Close"  placeholder="{{ 'labels.arrival_date' | translate }}" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4"  >
                    <label for="transport_mode" translate="labels.transport_mode"></label>
                    <select id="transport_mode" class="form-control" ng-model="newItem.transport_mode"  ng-options="obj.id as obj.name for obj in transport_mode | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>
                </div>
                <div class="col-md-4"  >
                    <label  for="packed_volume" translate="labels.request_number"></label>
                    <input  type="text" ng-model="newItem.request_number" class="form-control input-sm" id="packed_volume" placeholder="{{ 'labels.request_number' | translate }}">
                </div>
            </div>
        </form>


    </div>
    <div class="col-md-12" style="margin-top: 10px" >
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title" translate="help.dispatch_items"></h4>
                <div class="panel-controls panel-controls-right"><button ng-click="showAdd()" style="margin-top: 6px" class="btn btn-info btn-xs" title="{{ 'help.add_dispatchline' | translate}} "><i class="icomoon-icon-plus"></i> <span translate="labels.add"></span></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: auto;">
                    <div class="table-responsive" style="overflow: scroll; width: 100%; height: auto;">
                        <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions" >
                            <thead>
                            <tr>
                                <th >#</th>
                                <th  translate="labels.product"></th>
                                <th translate="labels.manufacture"></th>
                                <th translate="labels.lot_number"></th>
                                <th translate="labels.Dose_vial"></th>
                                <th translate="labels.expired_date"></th>
                                <th translate="labels.doses"></th>
                                <th translate="labels.vials"></th>
                                <th translate="labels.total_volume"></th>
                                <th translate="labels.vvm_stage"></th>
                                <th translate="labels.prod_date"></th>
                                <th translate="labels.u_price"></th>
                                <th translate="labels.t_price"></th>
                                <th translate="labels.activity"></th>
                                <th translate="labels.store"></th>
                                <th translate="labels.action">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in newItem.items" ng-hide="deletedItem[item.id]">
                                <td>{{ $index+1 }}</td>
                                <td>{{ item.item }}</td>
                                <td>{{ item.manufacture }}</td>
                                <td>{{ item.lot_number }}</td>
                                <td>{{ item.packaging }}</td>
                                <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.doses }}</td>
                                <td>{{ item.vials }}</td>
                                <td>{{ item.total_volume }}</td>
                                <td>{{ item.vvm_stage }}</td>
                                <td>{{ item.prod_date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.u_price }}</td>
                                <td>{{ item.t_price }}</td>
                                <td>{{ getActivityName(item.activity) }}</td>
                                <td>{{ getStoreName(item.store_id) }}</td>
                                <td>
                                    <md-button aria-label="btu" class="md-hue-3 md-raised  md-fab"  ng-click="showAEdit(item,'updatePreAdvice')"><i class="fa fa-pencil-square"></i>
                                        <md-tooltip>
                                            <span translate="help.update"></span>
                                        </md-tooltip>
                                    </md-button>
                                    <md-button  aria-label="btu" ng-if="!deletingItem[item.id]" class="md-hue-3 md-raised md-warn md-fab"  ng-click="showConfirm($event,item.id,'pre_shipments')"><i class="fa fa-trash-o"></i>

                                        <md-tooltip>
                                            <span translate="help.delete"></span>
                                        </md-tooltip>
                                    </md-button>
                                    <span ng-if="deletingItem[item.id]"><i class="fa fa-spin fa-spinner"></i> <span translate="labels.deleting"></span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="slimScrollBar ui-draggable" style="height: 5px; position: absolute; bottom: 3px; opacity: 0.4; display: none; border-radius: 5px; z-index: 99; width: 1014px; left: 0px; background: rgb(243, 243, 243);"></div>
                    <div class="slimScrollRail" style="width: 100%; height: 5px; position: absolute; bottom: 3px; display: none; border-radius: 5px; opacity: 0.3; z-index: 90; background: rgb(51, 51, 51);"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- End .row -->
    <div class="col-md-12">
        <button  ng-disabled="myForm.$invalid" class="btn btn-lg btn-primary" ng-if="newItem.items.length != 0"> Save Package</button>
    </div>
</div>


