<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate="help.add_annual_quota"></h4>
</div>
<div class="modal-body">
    <form class="col-md-8 col-md-offset-2" novalidate name="myForm">
        <!--recipient_id-->
        <div class="form-group">
            <label class="required" for="recipient_id" translate="labels.recipients"></label>
            <select ng-change="pullAnnualQuota(newItem.recipient_id,newItem.item_id)" required="" id="recipient_id" class="form-control" ng-model="newItem.recipient_id"  ng-options="obj.id as obj.name for obj in userRecipients">
                <option value="" translate="labels.select"></option>
            </select>
        </div>
        <!--item_id-->
        <div class="form-group">
            <label class="required" for="item_id" translate="labels.product"></label>
            <select ng-change="pullAnnualQuota(newItem.recipient_id,newItem.item_id)" required="" id="item_id" class="form-control" ng-model="newItem.item_id"  ng-options="obj.id as obj.name for obj in vaccines | filter:{status:'active'}:true">
                <option value="" translate="labels.select"></option>
            </select>
        </div>
        <!--expected_annual_need-->
        <div class="form-group">
            <label class="required" for="expected_annual_need" translate="labels.expected_annual_need"></label>
            <input required="" type="text" ng-model="newItem.expected_annual_need" class="form-control" id="expected_annual_need" placeholder="{{ 'labels.expected_annual_need' | translate }}">
        </div>
        <!--expected_annual_need-->
        <div class="form-group">
            <label class="required" for="year" translate="labels.year"></label>
            <input required="" type="text" ng-model="newItem.year" class="form-control" id="year" placeholder="{{ 'labels.year' | translate }}">
        </div>

        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default" translate="labels.submit" ng-click="save(newItem,'annual_quota',annual_quota)"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" translate="labels.cancel"></button>
        <br>
        <span  ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> <span translate="labels.saving">Saving....</span> </span>
    </form>

</div>
<div class="modal-footer">
</div>