<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate="help.update_stores"></h4>
</div>
<div class="modal-body">
    <form class="col-md-8 col-md-offset-2" novalidate name="myForm">
        <div class="form-group">
            <label class="required" for="exampleInputEmail1" translate="labels.code"></label>
            <input required="" type="text" ng-model="myItem.code" class="form-control" id="exampleInputEmail1" placeholder="{{ 'labels.code' | translate }}">
        </div>
        <div class="form-group">
            <label class="required" for="exampleInputPassword1" translate="labels.name"></label>
            <input required="" type="text" ng-model="myItem.name" class="form-control" id="exampleInputPassword1" placeholder="{{ 'labels.name' | translate }}">
        </div>
        <!--net volume-->
        <div class="form-group">
            <label class="required" for="net_volume" translate="labels.net_volume"></label>
            <input required="" type="text" ng-model="myItem.net_volume" class="form-control" id="net_volume" placeholder="{{ 'labels.net_volume' | translate }}">
        </div>
        <!--store type-->
        <div class="form-group">
            <label class="required" for="store_type" translate="labels.store_type"></label>
            <select required="" type="text" ng-model="myItem.store_type" class="form-control" id="store_type" >
                <option value="" translate="labels.select"></option>
                <option value="above_zero" translate="labels.above_zero"></option>
                <option value="below_zero" translate="labels.below_zero"></option>
                <option value="dry_store" translate="labels.dry_store"></option>
            </select>
        </div>
        <!--net volume-->
        <div class="form-group">
            <label for="notes" translate="labels.notes"></label>
            <textarea  ng-model="myItem.notes" class="form-control" id="notes" placeholder="{{ 'labels.notes' | translate }}"></textarea>
        </div>
        <div class="form-group">
            <label class="required" for="exampleInputPassword2" translate="labels.status"></label>
            <select required="" type="text" ng-model="myItem.status" class="form-control" id="exampleInputPassword2" >
                <option value="active" translate="labels.active"></option>
                <option value="inactive" translate="labels.inactive"></option>
            </select>
            <span class="help-block"></span>
        </div>


        <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default" translate="labels.submit" ng-click="update(myItem,'stores',stores)"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" translate="labels.cancel"></button>
        <br>
        <span  ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> <span translate="labels.saving">Saving....</span> </span>
    </form>

</div>
<div class="modal-footer">
</div>