<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate="help.add_item"></h4>
</div>
<div class="modal-body">
    <!--formula three-->
    <form class="col-md-12" novalidate name="myForm">

        <!--item_id-->
        <div class="form-group" >
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="product" translate="labels.product"></label>
                <select disabled required="" ng-change="updatePackaging(oneItem.item_id)" id="product" class="form-control" ng-model="oneItem.item_id"  ng-options="obj.id as obj.name for obj in vaccines | filter:{status:'active'}:true">
                    <option value="" translate="labels.select"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="packaging_id" translate="labels.Dose_vial"></label>
                <select disabled  required="" ng-change="getVaccineInfo(oneItem.packaging_id)" id="packaging_id" class="form-control" ng-model="oneItem.packaging_id"  ng-options="obj.id as obj.usename for obj in packagingInformation | filter:{status:'active'}:true">
                    <option value="" translate="labels.select"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="manufacture" translate="labels.manufacture"></label>
                <select disabled required="" class="form-control" ng-model="oneItem.manufacture_id" id="manufacture"  ng-options="obj.id as obj.name for obj in manufactures  | filter:{status:'active'}:true">
                    <option value="" translate="labels.select"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="no_doses" translate="labels.lot_number"></label>
                <input disabled required="" type="text" ng-model="oneItem.lot_number" class="form-control" id="no_doses" placeholder="{{ 'labels.lot_number' | translate }}">
            </div>

        </div>
        <div class="form-group">

            <div class="col-md-3"  style="margin-bottom: 15px">
                <label  class="required" for="doses" translate="labels.doses"></label>
                <input   disabled required="" ng-change="getTotalUnit(oneItem.u_price,oneItem.doses,oneItem.t_price)" type="text" ng-model="oneItem.doses" class="form-control" id="doses" placeholder="{{ 'labels.doses' | translate }}">
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="u_price" translate="labels.u_price"></label>
                <input  ng-disabled="logedInUser.recipient.level != '1'" required="" ng-change="getTotal(oneItem.u_price,oneItem.doses)" type="text" ng-model="oneItem.u_price" class="form-control" id="u_price" placeholder="{{ 'labels.u_price' | translate }}">
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="t_price" translate="labels.t_price"></label>
                <input  ng-disabled="logedInUser.recipient.level != '1'" required="" ng-change="getUnit(oneItem.t_price,oneItem.doses)" type="text" ng-model="oneItem.t_price" class="form-control" id="t_price" placeholder="{{ 'labels.t_price' | translate }}">
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="expired_date" translate="labels.expired_date"></label>
                <input  disabled class="form-control" ui-date="dateOptions1" ng-model="oneItem.expired_date" id="expired_date">

            </div>

        </div>
        <div class="form-group">
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="activity" translate="labels.activity"></label>
                <select required="" ng-disabled="logedInUser.recipient.level != '1'" id="activity" class="form-control" ng-model="oneItem.activity"  ng-options="obj.id as obj.name for obj in activities | filter:{status:'active'}:true">
                    <option value="" translate="labels.select"></option>
                </select>            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label class="required" for="store" translate="labels.store"></label>
                <select ng-change="setStoreType(oneItem.store_id)" required="" id="store" class="form-control" ng-model="oneItem.store_id"  ng-options="obj.id as obj.name for obj in stores | filter:{status:'active'}:true">
                    <option value="" translate="labels.select"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label for="vvm_stage" translate="labels.vvm_stage"></label>
                <!--status-->
                <select id="vvm_stage"  type="text" ng-model="oneItem.vvm_stage" class="form-control" id="exampleInputPassword2" >
                    <option value="" translate="labels.select"></option>
                    <option value="stage1" translate="labels.stage1"></option>
                    <option value="stage2" translate="labels.stage2"></option>
                    <option value="stage3" translate="labels.stage3"></option>
                    <option value="stage4" translate="labels.stage4"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px">
                <label for="prod_date" translate="labels.prod_date"></label>
                <input disabled class="form-control" ui-date="dateOptions1" ng-model="oneItem.prod_date" id="prod_date" >
            </div>

            <div class="col-md-3"  style="margin-bottom: 15px">
                <label for="vvm_stage" translate="labels.amount_okay"></label>
                <!--status-->
                <select id="amount_okay"  type="text" ng-model="oneItem.number_as_expected" class="form-control">
                    <option value="yes" translate="labels.yes"></option>
                    <option value="no" translate="labels.no"></option>
                </select>
            </div>
            <div class="col-md-3"  style="margin-bottom: 15px" ng-if="oneItem.number_as_expected == 'no'">
                <label class="required" for="u_price" translate="labels.received_amount"></label>
                <input name="required_amount" required="" type="number" ng-model="oneItem.number_received" class="form-control" id="u_price" placeholder="{{ 'labels.received_amount' | translate }}" min="0" max="{{ oneItem.doses }}">
                <span ng-if="myForm.required_amount.$invalid && !myForm.required_amount.$pristine" class="text-danger" translate="error.exceed_expected"></span>
            </div>
        </div>
        <div class="col-sm-12" ng-if="oneItem.store_id && oneItem.store_type != oneItem.vaccineStore" class="text-danger" translate="error.store_do_not_match"></div>
        <div class="col-sm-12" ng-if="oneItem.store_id" class="text-warning" translate="error.volume_used" translate-value-volume="{{ oneItem.used | number:2 }}" translate-value-volume1="{{ oneItem.used1 | number:2}}" ></div>

        <div class="col-md-12"  style="margin-top: 10px">
            <button ng-if="!editing" type="submit" ng-disabled="myForm.$invalid" class="btn btn-default" translate="labels.submit" ng-click="saveOneItem(oneItem)"></button>
            <button ng-if="!editing" class="btn btn-warning" type="button" ng-click="cancel()" translate="labels.cancel"></button>
            <button ng-disabled="myForm.$invalid"  ng-if="editing"  class="btn btn-warning" type="button" ng-click="cancel()" translate="labels.done"></button>
            <br>
            <span  ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> <span translate="labels.saving">Saving....</span> </span>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>