<div class=contentwrapper>
    <!--Content wrapper-->
    <div class=heading>
        <!--  .heading-->
        <h3 translate="help.v_arrival"></h3>
        <div class=resBtnSearch><a href="#"><span class="s16 icomoon-icon-search-3"></span></a></div>

        <ul class=breadcrumb>
            <li translate="labels.you_are_here"></li>
            <li><a href="./#home" class=tip title="back to dashboard"><i class="s16 icomoon-icon-screen-2"></i><span translate="menu.dashboard"></span></a> <span class=divider><i class="s16 icomoon-icon-arrow-right-3"></i> </span></li>
            <li class=active translate="menu.arrival"></li>
        </ul>
    </div>
    <!-- End  / heading--><!-- Start .row -->
    <div class="row"  ng-if="!showSummary">

        <form class="col-md-12" novalidate name="myForm" >
            <!--item_id-->
            <div class="form-group" >
                <div class="col-md-4"  >
                    <label  for="arrival_report_no" translate="labels.arrival_report_no"></label>
                    <input  id="arrival_report_no" ng-change="loadPackage1(newItem.arrival_report_no)" type="text" ng-model="newItem.arrival_report_no" class="form-control input-sm"  placeholder="{{ 'labels.arrival_report_no' | translate }}">
                </div>
                <div class="col-sm-12" ng-if="!data_ready && errorMessage">
                    <h4 class="text-danger" translate="error.no_package"></h4>
                </div>
                <div class="col-md-4" ng-if="data_ready" >
                    <label for="source" translate="labels.source"></label>
                    <select disabled  id="source" class="form-control" ng-model="newItem.source_id"  ng-options="obj.id as obj.name for obj in sources | filter:{status:'active'}:true">
                        <option value="" translate="labels.select"></option>
                    </select>
                </div>


                <div class="col-md-4" ng-if="data_ready" >
                    <label for="arrival_date" translate="labels.arrival_date"></label>
                    <p class="input-group">
                        <input type="text" id="arrival_date" class="form-control" datepicker-popup="{{format}}" ng-model="newItem.arrival_date" is-open="status.opened" min-date="minDate" datepicker-options="dateOptions" close-text="Close"  placeholder="{{ 'labels.arrival_date' | translate }}" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>

            </div>
            <div class="form-group" ng-if="data_ready  && !showSummary">
                <div class="col-md-4"  >
                    <label for="freight_cost" translate="labels.freight_cost"></label>
                    <input  type="text" ng-model="newItem.freight_cost" class="form-control input-sm" id="freight_cost" placeholder="{{ 'labels.freight_cost' | translate }}">
                </div>
                <div class="col-md-4"  >
                    <label  for="packed_volume" translate="labels.packed_volume"></label>
                    <input  type="text" ng-model="newItem.packed_volume" class="form-control input-sm" id="packed_volume" placeholder="{{ 'labels.packed_volume' | translate }}">
                </div>
                <div class="col-md-4"  >
                    <label  for="total_weight" translate="labels.total_weight"></label>
                    <input  type="text" ng-model="newItem.total_weight" class="form-control input-sm" id="total_weight" placeholder="{{ 'labels.total_weight' | translate }}">
                </div>

            </div>
            <div class="form-group" ng-if="data_ready  && !showSummary">
                <div class="col-md-4"  >
                    <label for="notes" translate="labels.notes"></label>
                    <textarea  type="text" ng-model="newItem.notes" class="form-control input-sm" id="notes" placeholder="{{ 'labels.notes' | translate }}"></textarea>
                </div>
                <div class="col-md-4" style="margin-top: 5px" >
                    <div class="col-sm-6">
                        <label  for="main_currency" translate="labels.main_currency"></label>
                        <label style="margin-top: 10px"  for="currency_of_bill" translate="labels.currency_of_bill"></label>
                    </div>
                    <div class="col-sm-6">
                        <input  type="text" ng-model="newItem.main_currency" class="form-control input-sm" id="main_currency" placeholder="{{ 'labels.main_currency' | translate }}">
                        <input style="margin-top: 5px"  type="text" ng-model="newItem.currency_of_bill" class="form-control input-sm" id="currency_of_bill" placeholder="{{ 'labels.currency_of_bill' | translate }}">
                    </div>
                    <!--<label class="required" for="annual_need_safety1" translate="labels.main_currency"></label>-->
                    <!--<input required="" type="text" ng-model="newItem.annual_need_safety" class="form-control input-sm" id="annual_need_safety1" placeholder="{{ 'labels.annual_need_safety' | translate }}">-->
                    <!--<br><label class="required" for="lead_time1" translate="labels.currency_of_bill"></label>-->
                    <!--<input required="" type="text" ng-model="newItem.lead_time" class="form-control input-sm" id="lead_time1" placeholder="{{ 'labels.lead_time' | translate }}">-->
                </div>
                <div class="col-md-4"  >
                    <label for="exchange_rate" translate="labels.exchange_rate"></label>
                    <input type="text" ng-model="newItem.exchange_rate" class="form-control input-sm" id="exchange_rate" placeholder="{{ 'labels.exchange_rate' | translate }}">
                </div>

            </div>

        </form>


    </div>
    <div class="col-md-12" style="margin-top: 10px" ng-if="data_ready  && !showSummary" >
        <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="supr0">
            <!-- Start .panel -->
            <div class="panel-heading white-bg">
                <h4 class="panel-title" translate="help.arrival_items"></h4>
                <div class="panel-controls panel-controls-right" style="margin-top: 5px">
                    <span translate="help.scan_item"></span>
                    <input type="text" id="batch_no" ng-model="current_batch_no" ng-change="prepareItems(current_batch_no)"/>
                    <span translate="help.not_found" ng-if="!item_found"></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: auto;">
                    <div class="table-responsive" style="overflow: scroll; width: 100%; height: auto;">
                        <table class="table table-striped table-bordered" dt-options="dtOptions" >
                            <thead>
                            <tr>
                                <th >#</th>
                                <th translate="labels.product"></th>
                                <th translate="labels.manufacture"></th>
                                <th translate="labels.lot_number"></th>
                                <th translate="labels.Dose_vial"></th>
                                <th translate="labels.expired_date"></th>
                                <th translate="labels.doses"></th>
                                <th translate="labels.vials"></th>
                                <th translate="labels.total_volume"></th>
                                <th translate="labels.prod_date"></th>
                                <th translate="labels.u_price"></th>
                                <th translate="labels.t_price"></th>
                                <th translate="labels.activity"></th>
                                <th translate="labels.store"></th>
                                <th translate="labels.action">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in newItem.items">
                                <td>{{ $index+1 }}</td>
                                <td>{{ item.item }}</td>
                                <td>{{ item.manufacture }}</td>
                                <td>{{ item.lot_number }}</td>
                                <td>{{ item.dose_vial }}</td>
                                <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.doses | number:0  }}</td>
                                <td>{{ item.vials | number:0  }}</td>
                                <td>{{ item.total_volume | number:4  }}</td>
                                <td>{{ item.prod_date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ main_currency }} {{ item.u_price | number:2  }}</td>
                                <td>{{ main_currency }} {{ item.t_price | number:2  }}</td>
                                <td>{{ getActivityName(item.activity) }}</td>
                                <td>{{ getStoreName(item.store_id) }}</td>
                                <td>
                                    <md-button aria-label="btu" class="md-hue-3 md-raised  md-fab"  ng-click="showAEdit(item)"><i class="fa fa-pencil-square"></i>
                                        <md-tooltip>
                                            <span translate="help.update"></span>
                                        </md-tooltip>
                                    </md-button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="slimScrollBar ui-draggable" style="height: 5px; position: absolute; bottom: 3px; opacity: 0.4; display: none; border-radius: 5px; z-index: 99; width: 1014px; left: 0px; background: rgb(243, 243, 243);"></div>
                    <div class="slimScrollRail" style="width: 100%; height: 5px; position: absolute; bottom: 3px; display: none; border-radius: 5px; opacity: 0.3; z-index: 90; background: rgb(51, 51, 51);"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- End .row -->
    <div class="col-md-12" ng-if="data_ready  && !showSummary">
        <h3  ng-if="currentSaving"><i class='fa fa-cog fa-3x fa-spin '></i> <span translate="labels.saving">Saving....</span> </h3>
        <button ng-click="saveArrival(newItem,'other')" class="btn btn-lg btn-primary" ng-if="newItem.items.length != 0 && cansave()" translate="labels.save_package"> </button>
    </div>


    <div class="row" ng-if="showSummary">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-2">
                <img src="img/logo1.jpg" style="height: 100px;width: 100px">
            </div>
            <div class="col-sm-8">
                <h3 class="text-center" translate="app.title"></h3>
                <h4 class="text-center" translate="app.voucher_title"></h4>
                <hr>
            </div>
            <div class="col-sm-2">
                <img src="img/logo.jpg" style="height: 100px;width: 100px">
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <span kendo-barcode k-type="'code128'" ng-model="newItem.reference" style="width: 250px; margin: 0 auto;"></span>
        </div>
        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px;margin-bottom: 20px">
            <div class="col-sm-6"><h4 translate="menu.vaccine_diluent"> </h4></div>
            <div class="col-sm-6"><h4 translate="labels.receive_by" translate-value-name="{{ logedInUserName }}"></h4></div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">

            <table class="table table-striped table-bordered" >
                <thead>
                <tr style="background-color: greenyellow">
                    <th >Sr</th>
                    <th translate="labels.product"></th>
                    <th translate="labels.manufacture"></th>
                    <th translate="labels.lot_number"></th>
                    <th translate="labels.expired_date"></th>
                    <th translate="labels.doses"></th>
                    <th translate="labels.vials"></th>
                    <th translate="labels.t_price"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in newItem.items" ng-hide="deletedItem[item.id]">
                    <td>{{ $index+1 }}</td>
                    <td>{{ item.item }}</td>
                    <td>{{ getManufactureName(item.manufacture_id) }}</td>
                    <td>{{ item.lot_number }}</td>
                    <td>{{ item.expired_date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ item.doses }}</td>
                    <td>{{ item.vials }}</td>
                    <td>{{ main_currency }} {{ item.u_price * item.doses }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 15px">
            <button class="btn btn-warning" translate="labels.cancel" ng-click="cancelDispatch()"></button>
        </div>
    </div>
</div>



